body	{
	background-color: rgba(30,1,303,1);
	font-family: "Arial", Times, serif;
	padding: 25px;
}

h1	{
	text-align: center;
	color: orange;
}

p	{
	text-align: center;
	padding: 20px;
	margin: 35px;
	border-width: 2px;
	border-style: none;
	color: rgba(51,153,51,1);
}

ul	{
	list-style-type: none;
	padding: 0;
	margin: 20px;
	overflow: hidden;
}

ul	{
	float: left;
	color: rgba(204,255,255,1);
}

li a	{
	display: block;
	color: white;
	font-style: bold;
	text-align: left;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	backgroud-color: rgba(244,0,0,0.8);
	
}

.list_item {
	font-weight: bold;
	font-style: italic;
}

#apple	{
	font-size: 35px;
}

#Dados	{
	border: 5px solid white;
	height:	30%;
	width: 30%;
	margin-right: 120px;
	margin-bottom: 70px;
}

ol	{
	float: left;
	color: rgba(204,255,255,1);
}

img	{
	height:	20%;
	width: 20%;
	float: right;
}