body {
	background-color: rgba(93,188,210,0.6);
	font-family: 'Lilita One', cursive;
}

h1 {
	margin: 20px 40px;
	border: 4px dashed;
	padding: 30px 60px;
	font-family: "Arial", Times, serif;
	text-align: center;
	color: white;
}

ol li {
	color: red;
}

.banana {
	font-size: 40px !important;
	color: white;
}

#maracuja{
	margin-left: 200px;
	font-size: 100px;
	color: black;
}

#paragrafo {
	border: 2px solid;
}

#corpo_inteiro {
	width: 100%;
}